@use './../../../Mixins.scss' as *;

.general_documents{
  position: relative;
  padding: 50px 0 70px;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw + 1px);
    max-width: 1920px;
    height: 100%;
    background: #FFFAF3;
  }

  .content{
    position: relative;

    h2{
      @include Title();
      margin: 0 0 20px;
      font-size: 33px;
      line-height: 40px;
    }
    .document_list{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .document_item{
        width: 100%;
        max-width: 300px;
        background: #fff;
        border: 1px solid #cab07a;
        border-radius: 4px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        text-transform: initial;
        text-align: left;

        h3{
          width: 100%;
          margin: 0 0 5px;
          font-size: 12px;
          text-align: left;
          color: #112a25;
        }
        p{
          color: #4a4a4a;
          font-size: 14px;
          line-height: 20px;
          margin: 0;
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 850px) {
    .content{
      h2{
        @include Title();
        margin: 0 0 20px;
        font-size: 24px;
        line-height: 30px;
      }
      
      .document_list{
        .document_item{
          max-width: initial;

          p{
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }
  }
}